.green {
    color: rgb(103, 197, 31);
}

.light-purple {
    color: #6341e0;
}

.dark-purple {
    color: #170e2f;
}

.red {
    color: rgb(225, 71, 71);
}

.bg-light-purple {
    background-color: #6341e0;
}

.bg-dark-purple {
    background-color: #170e2f;
}

.syntax-comment-block, .syntax-comment-line {
  color: gray;
  font-style: italic;
}

.syntax-string-quoted-double {
  color: #fff023;
}

.syntax-constant-numeric, .syntax-constant-numeric-float {
  color: #48e0ff;
}

.syntax-constant-language-boolean {
  color: #21a0d2;
}

.syntax-keyword-control {
  color: #ff2e66;
  font-weight: bold;
}

.syntax-keyword-operator, .syntax-keyword-operator-logical, .syntax-keyword-operator-comparison {
  color: #ff7e28;
}

.syntax-support-function {
  color: #5ed9ff;
}

.syntax-variable-other {
  color: #9CDCFE;
}

.syntax-markdown {
  color: #4fd6ff
}

.syntax-escape {
  color: #999;
}

.article-preview .syntax-escape {
  display: none;
}