
pre {
    margin: 0;
}

.page {
    width: 80%;
}

.forum-top {
    display: flex;
    align-items: center;
}

#forum {
    width: 100%;
    height: 100%;
}

.page-title:first {
    flex: 1;
}

.forum-search {
    height: 54px;
    background-color: #170b28;
    border: 2px solid #463085;
    border-radius: 6px;
    color: #af99ff;
    padding: 12px;
    font-size: 20px;
    flex: 1;
    min-width: calc(33% - (54px + 18px));
}

.forum-search:focus {
    outline: none;
}

.forum-search::placeholder {
    color: #463085;
}

#forum-search-button, #submit-key-button {
    border: 3px solid #8665ff;
    margin-left: 8px;
    border-radius: 6px;
    padding: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forum-search-button span, #submit-key-button span {
    vertical-align: center;
    color: #8665ff;
    font-weight: 600;
}

.forum-snippets {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 72%;
}

.forum-snippet-row {
    flex: 1;
    display: flex;
    margin: 16px 0;
}

.forum-snippet {
    border: 3px solid #8665ff;
    border-radius: 6px;
    flex: 1;
    overflow: hidden;
    background-color: #170b28;
    margin: 0 10px;
}

.forum-snippet-top {
    border-bottom: 3px solid #8665ff;
    height: 20%;
    background-color: #170e2f;
    display: flex;
    align-items: center;
    padding: 4%;
    font-size: 20px;
    color: #8665ff;
    font-weight: 600;
    width: 100%;
}

.forum-snippet-top:hover {
    cursor: pointer;
}

.forum-snippet-top-name {
    flex: 1;
    text-align: start;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.forum-snippet-top-author span {
    color: #463085;
}

.forum-snippet-content {
    padding: 14px;
    font-size: 18px;
    color: white;
    overflow: scroll;
    scrollbar-color: #9370ff transparent;
    height: 80%;
    user-select: none;
}

.forum-snippet-content pre {
    text-wrap: nowrap;
    font-family: monospace;
}

.forum-snippet-content::-webkit-scrollbar {
    height: 12px;
}

.forum-snippet-content::-webkit-scrollbar-track {
    background: transparent;
}

.forum-snippet-content::-webkit-scrollbar-thumb {
    background: white;
}

.forum-snippet-content::-webkit-scrollbar-thumb:hover {
    background: #9370ff;
}

.big-snippet-back {
    color: #8665ff;
    border: 2px solid #8665ff;
    border-radius: 6px;
    padding: 6px;
    display: flex;
}

.big-snippet-back span {
    font-weight: 500;
}

#big-snippet-name {
    color: white;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
    margin-top: 20px;
}

#big-snippet-description {
    color: white;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 44px;
}

#big-snippet-content {
    color: white;
    width: 100%;
    position: relative;
    border: 2px solid #463085;
    border-radius: 8px;
    background-color: #170b28;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 16px;
    padding: 16px;
}

#submit {
    width: 100%;
    height: 100%;
}

#submit-key {
    display: flex;
    margin-bottom: 20px;
    width: 40%;
}

#submit-key-input {
    height: 54px;
    background-color: #170b28;
    border: 2px solid #463085;
    border-radius: 6px;
    color: #af99ff;
    padding: 12px;
    font-size: 20px;
    flex: 1;
    min-width: calc(33% - (54px + 18px));
    font-family: monospace;
    flex: 1;
}

#submit-key-input:focus {
    outline: none;
}

#submit-key-input::placeholder {
    color: #463085;
}

#submit-key-button {
    flex: 0;
}

#own-snippets {
    margin-top: 20px;
}

.own-snippet {
    color: white;
    border: 2px solid #463085;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}

.own-snippet:first-of-type {
    border-radius: 8px 8px 0 0;
}

.own-snippet:not(:first-of-type) {
    border-top: none;
}

.own-snippet:last-of-type {
    border-radius: 0 0 8px 8px;
    margin-bottom: 20px;
}

.own-snippet:last-of-type.own-snippet:first-of-type {
    border-radius: 8px;
}

.own-snippet-name {
    font-weight: 700;
    color: #af99ff;
    margin-right: 20px;
}

.own-snippet-date {
    margin-left: auto;
    font-family: monospace;
    font-size: 18px;
    color: #af99ff;
}

.new-snippet-input {
    background-color: #170b28;
    border: 2px solid #463085;
    border-radius: 6px;
    color: #af99ff;
    padding: 12px;
    font-size: 20px;
    font-family: monospace;
    overflow: hidden;
    resize: none;
}

.new-snippet-input:focus {
    outline: none;
}

.new-snippet-input::placeholder {
    color: #463085;
}

#new-snippet {
    display: none;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.page-content-header {
    display: none;
}

#new-snippet-name {
    width: 40%;
}

#new-snippet-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-snippet {
    color: #8665ff;
    border: 3px solid #8665ff;
    padding: 10px;
    border-radius: 8px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40%;
    font-weight: 600;
}

#submit-snippet:disabled {
    color: #463085;
    border-color: #463085;
}