html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #170e2f;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

* {
    box-sizing: border-box;
    line-height: 1.4;
}

.top {
    width: 100%;
    height: 7.5%;
    color: white;
    padding: 8px 220px;
    position: relative;
}

.logo {
    font-size: 28px;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8.5px;
    user-select: none;
}

.logo span {
    margin-right: 4px;
    font-size: 30px;
    position: relative;
    top: 3px;
}

.discord {
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 350px;
    cursor: pointer;
}

.discord img {
    width: 48px;
    height: auto;
}

.main {
    width: 100%;
    height: 92.5%;
    padding: 0 220px;
}

.sidebar {
    width: 14%;
    height: 100%;
    float: left;
    background-color: #463085;
}

.sidebar:first-of-type {
    padding-right: 4px;
}

.sidebar-content {
    width: 100%;
    height: 100%;
    padding: 40px 8px;
}

.sidebar-nav-group {
    width: 100%;
    height: auto;
    color: white;
    margin-bottom: 40px;
}

.sidebar-nav-header {
    font-size: 18px;
    font-weight: 501;
    margin-bottom: 6px;
}

.sidebar-nav-header span {
    position: relative;
    top: 5px;
}

.sidebar-nav-point {
    width: fit-content;
    user-select: none;
    font-size: 16px;
    padding: 5px;
    margin: 1px 0;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.1s;
    position: relative;
    left: 26px;
}

.sidebar-nav-point-active {
    background-color: #463085;
}

.sidebar-nav-point:hover {
    background-color: #463085;
    cursor: pointer;
}

.page {
    width: 72%;
    height: 100%;
    float: left;
    padding: 40px;
    overflow: auto;
    scrollbar-width: normal;
    scrollbar-color: #af99ff #463085; 
}

.page::-webkit-scrollbar-track {
  background: #463085;
  border-radius: 10px;
}

.page::-webkit-scrollbar-thumb {
  background: #af99ff;
  border-radius: 10px;
}

.page::-webkit-scrollbar-thumb:hover {
  background: #af99ff;
}

.page a, .page a:visited {
    color: rgb(130, 111, 255);
}

.page-title {
    color: white;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 12px;
}

.page-subtitle {
    color: white;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 44px;
}

.page-content-header {
    color: white;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
}

.page-content-text {
    color: white;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.page-content-code {
    color: white;
    width: 100%;
    position: relative;
    border: 2px solid #463085;
    border-radius: 8px;
    background-color: #170b28;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 16px;
}

.page-content-code-icon {
    margin: 8px 16px;
    color: #af99ff;
    font-weight: 800;
    text-transform: uppercase;
}

.page-content-code-copy-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #af99ff;
    transition: 0.2s;
}

.page-content-code-copy-button:hover {
    color: #463085;
}

.page-content-code-copy-button-hover {
    display: none;
    background-color: white;
    border-radius: 4px;
    font-weight: 600;
    padding: 8px;
}

.page-content-code-copy-button:hover .page-content-code-copy-button-hover {
    display: block;
    position: absolute;
    left: -50%;
    top: -130%;
}

.page-content-code hr {
    border: 0;
    border-top: 2px solid #463085;
}

.page-content-code pre {
    margin: 16px;
}

.page-content-code pre:focus {
    outline: none;
}

.page-content-list {
    margin-bottom: 16px;
}

.page-content-list-point {
    color: white;
    font-size: 18px;
}

.page-content-list-point pre {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    margin: 0;
}

.page-content-list-number {
    color: #af99ff;
}