

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box !important;
    line-height: 1.4;
    text-wrap: auto;
    scroll-behavior: smooth;
}

pre {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

.material-symbols-outlined {
    font-variation-settings: 
        "opsz" 24,
        "wght" 400,
        "FILL" 0,
        "GRAD" 0
    ;
}

@font-face {
    font-family: minecraft;
    src: url('../assets/minecraft-font/MinecraftRegular-Bmg3.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: minecraft;
    src: url('../assets/minecraft-font/MinecraftBold-nMK1.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: minecraft;
    src: url('../assets/minecraft-font/MinecraftItalic-R8Mo.otf') format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: minecraft;
    src: url('../assets/minecraft-font/MinecraftBoldItalic-1y1e.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}

.top {
    width: 100%;
    height: 7.5%;
    padding: 8px 12%;
    position: relative;
    display: flex;
}

.dropdown {
    flex: auto;
    max-width: fit-content;
    margin-right: 16px;
    margin-top: 6px;
    display: none;
}

.dropdown span {
    font-size: 40px;
}

.logo {
    font-size: 28px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8.5px;
    user-select: none;
    flex: auto;
    max-width: fit-content;
}

.logo span {
    margin-right: 4px;
    font-size: 30px;
    position: relative;
    top: 3px;

    font-variation-settings: 
        "opsz" 24,
        "wght" 400,
        "FILL" 1,
        "GRAD" 0
    ;
}

.discord {
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 19%;
    cursor: pointer;
    flex: auto;
}

.discord img {
    width: 48px;
    height: auto;
}

.theme {
    flex: auto;
    position: absolute;
    top: 24px;
    right: 2%;
    transform: scale(1.5);
    user-select: none;
    cursor: pointer;
}

.theme[data-theme="dark"] span {
    font-variation-settings: 
        "opsz" 24,
        "wght" 400,
        "FILL" 0,
        "GRAD" 0
    ;
}

.theme[data-theme="purple"] span {
    font-variation-settings: 
        "opsz" 24,
        "wght" 400,
        "FILL" 1,
        "GRAD" 0
    ;   
}

.main {
    width: 100%;
    height: 92.5%;
    padding-left: 10%;
}

.sidebar {
    height: 100%;
    width: 20%;
    float: left;
}

.sidebar:first-of-type {
    width: 16%;
}

@media (max-width: 720px) {
    .sidebar {
        display: none;
    }
    .sidebar-content:first-of-type {
        position: absolute;
        right: 0;
        left: 0;
    }
    .main {
        padding: 0;
    }
    .page {
        width: 100% !important;
    }
    .top {
        height: 70px;
        padding: 8px 3%;
    }
    .discord {
        right: 16px;
    }
    .dropdown {
        display: block;
    }
    .page a {
        word-break: break-all;
    }
}

.sidebar-content {
    width: 100%;
    height: 100%;
    padding: 20px 16px 40px 16px;
    overflow: auto;
    scrollbar-width: auto;
}

.sidebar-search {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    border: 2px solid;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
}

.sidebar-search:focus {
    outline: none;
}

.sidebar-nav-group {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.sidebar-nav-header {
    font-size: 18px;
    font-weight: 501;
    margin-bottom: 6px;
}

.sidebar-nav-header span {
    position: relative;
    top: 5px;
}

.sidebar-nav-point {
    width: fit-content;
    user-select: none;
    font-size: 16px;
    padding: 5px;
    margin: 1px 0;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.1s;
    position: relative;
    left: 26px;
}

.sidebar-nav-point:hover {
    cursor: pointer;
}

.sidebar-credit-header {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
}

.sidebar-credit-card {
    border: 3px solid;
    border-radius: 8px;
    margin-bottom: 12px;
}

.sidebar-credit-card hr {
    border: 0;
    border-top: 3px solid;
    width: 100%;
    margin: 0;
}

.sidebar-credit-name {
    font-size: 22px;
    margin: 6px 9px;
}

.sidebar-credit-links {
    padding: 8px 6px 12px 8px;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-credit-links a span {
    position: relative;
    top: 3px;
    font-size: 18px;
}

.sidebar-subnav {
    font-size: 22px;
    border: 3px solid;
    border-radius: 8px;
    padding: 6px 9px;
    font-weight: 400;
    margin-bottom: 8px;
}

.sidebar-subnav-links {
    font-size: 19px;
    font-weight: 500;
    margin: 4px 0;
}

.sidebar-subnav-links span {
    font-weight: 400;
    margin-right: 4px;
    margin-left: 8px;
}

.page {
    width: 60%;
    height: 100%;
    float: left;
    padding: 40px;
    overflow: auto;
    scrollbar-width: auto;
}

.page::-webkit-scrollbar-track {
    border-radius: 10px;
}

.page::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.page-title {
    width: 100%;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 12px;
}

.page-subtitle {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 44px;
}

.page-content-superheader {
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 16px;
}

.page-content-header {
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
}

.page-content-subheader {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}

.page-content-text {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.page-content-code {
    width: 100%;
    position: relative;
    border: 2px solid;
    border-radius: 8px;
    font-family: monospace;
    font-size: 16px;
    margin: 16px 0;
}

.page-content-code button {
    position: absolute;
}

.page-content-code-icon {
    margin: 8px 16px;
    font-weight: 800;
    text-transform: uppercase;
}

.page-content-code-copy-button {
    top: 8px;
    right: 8px;
    transition: 0.2s;
}

.page-content-code-copy-button-hover {
    display: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 8px;
}

.page-content-code-copy-button:hover .page-content-code-copy-button-hover {
    display: block;
    position: absolute;
    left: -50%;
    top: -130%;
}

.page-content-code hr {
    border: 0;
    border-top: 2px solid;
}

.page-content-code pre {
    margin: 16px;
    text-wrap: auto;
    word-break: break-all;
}

.page-content-code pre:focus {
    outline: none;
}

.page-content-code-markdown-create, .page-content-code-markdown-copy-html {
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    top: 8px;
}

.page-content-code-markdown-create {
    left: 30%;
}

.page-content-code-markdown-copy-html {
    left: 65%;
}

.page-content-list {
    margin-bottom: 16px;
    padding-left: 4px;
}

.page-content-list-point {
    display: flex;
    font-size: 20px;
}

.page-content-list-number {
    margin-right: 10px;
    margin-right: 10px;
    font-family: inherit;
}

.page-content-table {
    font-size: 18px;
    border: 2px solid;
    border-radius: 8px;
    margin: 16px 0;
    overflow: hidden;
}

.page-content-table-cell {
    border-left: 2px solid;
    border-top: 2px solid;
    padding: 16px;
    font-weight: 500;
    min-height: 60px;
    display: inline-block;
}

.page-content-table-cell[data-left] {
    border-left: none;
}

.page-content-table-cell[data-top] {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-top: none;
}

.markdown-monospace {
    display: inline-block;
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: calc(1em * (7/8));
    margin: 0;
}

.page-content-item-display {
    width: 64px;
    height: 64px;
    border: 2px solid;
    border-radius: 8px;
    padding: 8px;
    margin: 12px 0;
}

.page-content-item-display:hover {
    cursor: pointer;
}

.page-content-item-display img {
    width: 100%;
    image-rendering: pixelated;
    
}

#tooltip {
    position:fixed;
    padding: 7px 12px 12px 12px;
    border-radius: 8px;
    border: 2px solid;
    z-index: 100;
    pointer-events: none;
    font-size: 24px;
}

.tooltip-lore {
    line-height: 1;
}

.tooltip-lore span {
    line-height: 1 !important;
}

.page-content-item-display-content {
    display: none;
}

.article-preview {
    color: red;
}

.page-content-menu {
    display: grid;
    border: 6px solid #c6c6c6;
    border-radius: 4px;
    margin-bottom: 16px;
}

.page-content-menu-slot {
    height: 64px;
    background-image: url('../assets/menu-slot-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-content-menu-slot-img {
    width: 64px;
    height: 64px;
    padding: 8px;
    image-rendering: pixelated;
    cursor: pointer;
}

.page-content-menu-slot-img[src = ""] {
    cursor: auto;
    visibility: hidden;
}